<template>
    <div class="w-6/6">
        <div class="flex justify-center my-2">
            <div class="flex justify-inline">
      
                <label class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4" for="inline-full-name">
                    ชื่อ Profile
                </label>
                <input  v-model="ProfileName"
                class="bg-gray-200 border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight
                focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text">
            </div>
         
        </div>
        <div class="flex justify-center">
            <div class="border-2 border-gray-400 w-5/6 sm:3/6 lg:w-3/6 rounded-lg p-2">
                <ul class="flex border-b flex-wrap flex justify-center">
                    <li class="-mb-px mr-1" v-for="bu in AllBU" :key="bu.id">
                        <a v-if="bu.BU==Select_BU" class="mt-1 cursor-default bg-white inline-block border-l border-t border-r rounded-t border-blue-300 py-2 px-1 bg-blue-200 w-20 text-blue-600 font-semibold">{{bu.BU}}</a>
                        <a v-else class="inline-block py-2 px-4 text-gray-400 mt-1 font-semibold w-20 cursor-pointer" @click="click_bu(bu.BU)">{{bu.BU}}</a>
                    </li>
                </ul>
            <label class="text-gray-500 font-bold">แถบเมนูทั้งหมด</label>
            <PerfectScrollbar>
            <div class="ListMenu" v-if="this.Select_BU!=''">
                <div class="flex justify-inline ml-2">
                    <p>เลือกทั้งหมดใน {{this.Select_BU}}</p>
                    <input type="checkbox" class="mt-2 ml-2" @click="SelectedAll" v-model="allSelected">
                </div>
                <ul v-for="item_top in Topic" :key="item_top.id">
                <div class="flex justify-inline">
                    <p class="w-5/6 text-left font-bold ml-2">{{item_top.Topmenu}}</p>
                    <input type="checkbox" class="mt-2 -ml-1 w-24" :value="{id:item_top.id,bu:Select_BU}" v-model="Selecty">
                </div>
                <ul v-for="item_sec in Sec" :key="item_sec.id">
                    <div v-if="item_sec.BU==item_top.BU">
                        <div class="flex justify-inline">
                            <p class="w-5/6 text-left pl-10">• {{item_sec.Secmenu}}</p>
                            <input type="checkbox" class="mt-2 ml-1 flex justify-right w-24" :value="{id:item_sec.id,bu:Select_BU}" v-model="Selecty">
                        </div>
                       
                            <li v-for="item_sub in Subsec" :key="item_sub.id">
                                <div v-if="item_sub.BU==item_top.BU && item_sub.beforeMenu==item_sec.Secmenu">
                                    <div class="flex justify-inline">
                                        <p class="w-5/6 text-left pl-16">{{item_sub.Submenu}}</p>
                                        <input type="checkbox" class="mt-2 ml-1 flex justify-right w-24"  :value="{id:item_sub.id,bu:Select_BU}" v-model="Selecty">
                                    </div>
                                    <li v-for="item_lsub in LastSubsec" :key="item_lsub.id">
                                        <div v-if="item_sub.BU==item_top.BU && item_lsub.beforeMenu==item_sub.Submenu || item_lsub.beforeMenu==item_sub.id" class="flex justify-inline">
                                            <p class="w-5/6 text-left pl-24">- {{item_lsub.LSubmenu}}</p>
                                            <input type="checkbox" class="mt-2 ml-1 flex justify-right w-24" :value="{id:item_lsub.id,bu:Select_BU}" v-model="Selecty">
                                        </div>
                                    </li>
                                </div>
                            </li>
                    </div>
                </ul>
                </ul>
            </div>
            </PerfectScrollbar>
            <!-- <p>{{this.Selecty}}</p> -->
          
        </div>
           
        </div>
         <button @click="save"
          class="bg-green-500 rounded-full px-2 py-1 font-bold text-white my-1 border-2 hover:border-green-200">Save Profile</button>
         <br>
         <button @click="back" 
         class="bg-red-500 rounded-full px-2 py-1 font-bold text-white my-1 border-2 hover:border-red-200">ย้อนกลับ</button> 
    </div>
</template>
<script>
import axios from "axios";
import PerfectScrollbar from "vue2-perfect-scrollbar"
import Swal from 'sweetalert2/dist/sweetalert2.js'
const api = "https://hook.zubbsteel.com/line-ci/list_info/list/";
export default {
    data(){
        return {
            allmenu:[],
            Topic:[],
            Sec:[],
            Subsec:[],
            LastSubsec:[],
            Selecty:[],
            ProfileName:"",
            Select_BU:"DBS",
            AllBU:[],
            menuIn:[],
            allSelected: false,
            allinBU:[],
            refresh:0
            }
    },
    components(){
        PerfectScrollbar
    },
    computed:{
        
    },
    created(){
        this.getmenu();
    },
    watch:{
        ProfileName(b4,af){
           if(af==" "){
               this.ProfileName = "";
           }
        },
        Selecty(){
            let id_inBU=[];
            
            this.Selecty.forEach(data=>{
                if(data.bu == this.Select_BU){
                    id_inBU.push(data.id)
                }
            })
            if(id_inBU.length==this.menuIn.length){
                this.allSelected = true
            }else{
                this.allSelected = false
            }   
        }
    },
    methods:{
        Chk_load(){
            let have=[]
            // let inBU=[]
            this.Selecty.forEach(data=>{
                if(data.BU==this.Select_BU){
                    have.push(data.id);
                }
            })
            if(have.length==this.menuIn.length){
                this.allSelected=true
            }else{
                this.allSelected=false
            }
        },
        SelectedAll() {
            //this.Selecty = [];
            if (this.allSelected==false) {
                let user;
                let new_selected=[];
                    for (user in this.menuIn) {
                        this.Selecty.push({id:this.menuIn[user].id.toString(),bu:this.Select_BU});
                        new_selected.push(this.menuIn[user].id.toString());
                    }

                this.allinBU.push({BU:this.Select_BU,ID:new_selected})
                // console.log(this.allinBU);
            }else{
                // console.log(this.allinBU);
               // let i=0;
                
                let user;
                let new_selected=[];
                for (user in this.menuIn) {
                        this.Selecty.pop({id:this.menuIn[user].id.toString(),bu:this.Select_BU})
                        new_selected.pop(this.menuIn[user].id.toString());
                }
                this.allinBU.pop({BU:this.Select_BU,ID:new_selected})
            }
        },
        async getmenu(){
            await axios .get(api+"get_menu").then((Response) => this.allmenu = Response.data)
            this.BU();
            let bu="";
            this.getmenu_where(bu)
        },
        async getmenu_where(bu){
            if(bu==""){
                await axios .get(api+"get_menu_where"+"/"+this.Select_BU).then((Response) => this.menuIn = Response.data)
            }else{
               
                this.Topic=[];
                this.Sec=[];
                this.Subsec=[];
                this.LastSubsec=[];
                await axios .get(api+"get_menu_where"+"/"+bu).then((Response) => this.menuIn = Response.data)
            }
            this.manageMenu()
        },
        BU(){
            this.allmenu.forEach(data => {
                if(data.posi_topic=="Topic"){
                    this.AllBU.push({BU:data.BU});
                }
            })
           // console.log(this.AllBU);
        },
        manageMenu(){
            let name;
         //   console.log(this.menuIn);
            this.menuIn.forEach(data=> {
                name = data.menu_list
                if(data.posi_topic=="Topic"){
                    this.Topic.push({Topmenu:name,BU:data.BU,id:data.id})
                    
                }else if(data.posi_topic=="Sec"){
                    this.Sec.push({Secmenu:name,BU:data.BU,beforeMenu:data.my_topic,id:data.id})
                }else if(data.posi_topic=="Subsec"){
                    this.Subsec.push({Submenu:name,BU:data.BU,beforeMenu:data.my_topic,id:data.id})
                }else{
                    this.LastSubsec.push({LSubmenu:name,BU:data.BU,beforeMenu:data.my_topic,id:data.id})
                }  
            })
          // console.log(this.Sec);
        },
         click_bu(bu){
            try {
                this.Select_BU = bu;
                let id_inBU=[];
                    this.Selecty.forEach(data=>{
                        if(data.bu == this.Select_BU){
                            id_inBU.push(data.id)
                        }
                    })
                // console.log(this.Select_BU);
                console.log(this.allinBU);
                let count_bu= this.allinBU.length
                for(let i=0;i<count_bu;i++){
                    if(this.allinBU[i].BU.includes(this.Select_BU)){
                        if(id_inBU.length==this.allinBU.length){
                            this.allSelected = true;
                            console.log("INNY");
                            break
                        }
                    }else{
                        this.allSelected = false;
                    }
                }
                this.menuIn=[];
                this.getmenu_where(this.Select_BU)
               // this.Chk_load()
            } catch (error) {
                console.error()
            }
        },
        async save(){
            if(this.ProfileName=="" || this.Selecty.length==0){
                if(this.ProfileName==""){
                    alert("ใส่ชื่อชุดเมนูก่อน:)")
                }else{
                    alert("เลือกอย่างน้อย 1 เมนู :)")
                }
            }else{
                //console.log(this.Selecty)
                let id_data=[]
                this.Selecty.forEach(data=>{
                    var a = {
                        id:data.id
                    }
                    id_data.push(a.id);
                })
                await axios .post(api+"addProfile",{profilename:this.ProfileName,id:id_data});
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Saved',
                    showConfirmButton: false,
                    timer: 2000
                })
                this.Selecty=[];
                this.ProfileName="";
                this.allSelected=false;
                this.refresh=1;
                this.allinBU=[]
                //console.log(this.Selecty)
               
               // console.log(id_data)
            }
           
        },
        back(){
            this.$router.push('/')
        }
    }

}
</script>
<style>
.ListMenu{
    height: 400px;
}
</style>