<template>
    <div>
        <div>
        <p>START</p>
        <ul v-for="item_top in Topic" :key="item_top.id">
            <div class="flex justify-inline">
                <p class="mr-2">♥</p>
                <p>{{item_top.Topmenu}}</p>
            </div>
                <ul v-for="item_sec in Sec" :key="item_sec.BU">
                    <div v-if="item_sec.BU==item_top.BU">
                        <div class="flex justify-inline ml-4">
                            <p class="text-red-500 mr-2">♦</p>
                            <p>{{item_sec.Secmenu}}</p>
                        </div>
                       
                            <li v-for="item_sub in Subsec" :key="item_sub.BU">
                                <div v-if="item_sub.BU==item_top.BU">
                                    <div class="flex justify-inline ml-8">
                                        <p class="text-pink-500 mr-2">♣</p>
                                        <p>{{item_sub.Submenu}}</p>
                                    </div>
                                <li v-for="item_lsub in LastSubsec" :key="item_lsub.BU">
                                    <div class="flex justify-inline ml-12">
                                        <p class="text-yellow-500 mr-2">♠</p>
                                        <p>{{item_lsub.LSubmenu}}</p>
                                    </div>
                                </li>
                                </div>
                            </li>
                    </div>
                </ul>
          

        </ul>
        </div>
    </div>
</template>
<script>
import axios from "axios";
const api = "https://hook.zubbsteel.com/line-ci/list_info/list/";
export default {
    data(){
        return {
            allmenu:[],
            Topic:[],
            Sec:[],
            Subsec:[],
            LastSubsec:[]
            }
    },
    created(){
        this.getmenu();
    },
    methods:{
        async getmenu(){
            await axios .get(api+"get_menu").then((Response) => this.allmenu = Response.data)
            this.manageMenu()
        },
        manageMenu(){
            let name;
            this.allmenu.forEach(data=> {
                name = data.menu_list
                if(data.posi_topic=="Topic"){
                    this.Topic.push({Topmenu:name,BU:data.BU})
                }else if(data.posi_topic=="Sec"){
                    this.Sec.push({Secmenu:name,BU:data.BU})
                }else if(data.posi_topic=="Subsec"){
                    this.Subsec.push({Submenu:name,BU:data.BU})
                }else{
                    this.LastSubsec.push({LSubmenu:name,BU:data.BU})
                }
              
            })
           // console.log(this.Subsec);
        }
    }

}
</script>
<style scoped>

</style>