<template>
  <div class="w-screen">
    <header>
      <div class="flex justify-center">
        <div class="bg-white w-11/12 mt-2 rounded-t-lg font-xl font-bold">
          PR : {{ this.pr }}
        </div>
      </div>
    </header>
    <Timeline :PR="this.pr"/>
    <body>
      <div class="flex justify-center mt-2">
        <div
          class="sm:w-10/12 md:w-7/12 lg:w-8/12 bg-green-100 rounded-lg py-1 pb-3 shadow-md w-11/12" id="bg_comment"
        >
          <!-- <PerfectScrollbar> -->
          <div
            v-for="item in Allcom"
            :key="item.com_id"
            class="flex justify-inline"
          >
            <div class="rounded-lg my-1 px-2 justify-center w-24">
              <img class="w-10 h-10 rounded-full ml-4" :src="item.profilePic" />
              <span>{{ item.username }}</span>
            </div>

            <div class="w-10/12 bg-white shadow-md rounded-lg my-1 mr-2">
              <div class="mt-1 w-full text-left pr-2 pl-2" v-if="item.comment_pr != null">
                {{ item.comment_pr }}
              </div>
              <div class="mt-1 w-full text-left" v-else>
                <div v-if="item.download==0" class=" ml-2 mr-4">
                  <img :id='"myImg_"+item.com_id'
                  :src="
                    'https://hook.zubbsteel.com/line-ci/uploadPR/' +
                    item.fileName
                  "
                  class="imgp rounded-lg shadow-lg"
                  @click="zoomImg(item.com_id)"
                  />
                  <div id="myModal" class="modal">
                      <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                      <div id="caption"></div>
                  </div>
                </div>
                <div v-else >
                  <div class="flex justify-inline ml-2">
                      <label>
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 bg-yellow-100 rounded-l-md" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                          </svg>   
                      </label> 
                    <a @click="loadFile(item)" v-text="item.fileName" class="px-2 cursor-pointer font-semibold rounded-r-md bg-yellow-100 "></a>
                  </div>
              
                </div>
              
              </div>
              <img
                v-if="false"
                class="sm:max-w-1 md:max-w-sm rounded-md"
                src="https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png"
              />
              <div class="mt-1 w-full text-left text-xs text-gray-400 pl-2">
                {{ item.date_pr }}
              </div>
            </div>
          </div>
          <!-- </PerfectScrollbar> -->
        </div>
      </div>
    </body>

    <!-- <input type="hidden" v-model="user" /> -->
    <div class="flex justify-center">
      <div
        v-if="isLog"
        class="bg-green-100 sm:w-10/12 md:w-7/12 lg:w-8/12 w-11/12 -mt-1 rounded-b-lg shadow-md"
      >
        <div class="relative text-gray-700 -mt-1 flex justify-inline" id="bg_post">
          <label class="flex flex-col items-center bg-green-400 rounded-l-lg tracking-wide uppercase cursor-pointer  hover:text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 mx-2 mt-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
              />
            </svg>
            <input type='file' id="fileImg" ref="fileja" name="" hidden accept="image/*" @change="onChangeFileUpload">
          </label>
          <label class="flex flex-col items-center bg-green-400 tracking-wide uppercase cursor-pointer hover:text-white">
            <svg 
              class="h-6 w-6 mx-2 mt-2" 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none" 
              viewBox="0 0 24 24" 
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
            </svg>
            
            <input type='file' id="file" ref="file" name="" hidden accept=".doc,.pdf,.excel,.docx" @change="onChangeFileUpload2">
          </label>
          <!-- ถ้ารูปภาพเป็นว่าง -->
          <div class="w-full" v-if="item.imageUrl == null">
              <!-- ถ้าประเภทการอัพโหลดเป็นว่าง -->
            <input v-if="tUP==''"
              class="w-full h-10 pl-4 pr-8 text-base placeholder-gray-300 border border-green-500 rounded-r-lg focus:outline-none"
              type="text"
              v-model="comment"
              placeholder="แสดงความคิดเห็นของคุณ"
              @change="chk_comment"
            />
              <!-- ถ้าเพิ่มไฟล์ -->
              <div v-else class="flex justify-inline bg-white w-full h-auto border border-green-500 rounded-r-lg focus:outline-none">
                <div>
                  <input
                    class="w-5/6 h-10 pl-4 pr-4 text-base focus:outline-none cursor-default"
                    type="text"
                    v-model="Nfile"
                    readonly
                  
                  />
                  <button class="h-5 w-5" @click="del_file">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 text-red-500"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </button>
                </div>
              </div>
          </div>
          <!-- ถ้ารูปภาพไม่ว่าง -->
          <div class="w-full" v-else>
            <div
              class="w-full h-auto pl-12 pr-8 text-base placeholder-gray-300 border border-green-500 rounded-r-lg focus:outline-none bg-white flex justify-inline"
            >
              <img :src="item.imageUrl" class="w-36 h-36 p-2" />
              <button class="h-5 w-5" @click="del_pic">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-red-500"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>

          <button
            @click="postPR"
            type="submit"
            class="absolute inset-y-0 right-0 flex items-center px-4 font-bold text-white bg-green-600 rounded-r-lg hover:bg-green-500 focus:bg-green-700"
          >
            Post
          </button>
        
        </div>
     
      </div>
      <button
        v-else
        class="sm:w-10/12 md:w-7/12 lg:w-8/12 w-11/12 text-white font-bold -mt-1 bg-green-500 rounded-b-lg p-2 shadow-md"
        @click="lineLogin"
      >
        Login LINE for Comment
      </button>
    </div>
      <div class="loadingspin flex justify-center">
         <vue-instant-loading-spinner ref="Spinner"></vue-instant-loading-spinner>
      </div>
   

  </div>
</template>

<script>
import Timeline from "../components/Timline.vue";
import axios from "axios";
import liff from "@line/liff";
import VueInstantLoadingSpinner from 'vue-instant-loading-spinner/src/components/VueInstantLoadingSpinner.vue'
//import SpinnerLoader from '@bit/joshk.vue-spinners-css.spinner-loader';
//import PerfectScrollbar from "vue2-perfect-scrollbar";
const urlapi = "https://hook.zubbsteel.com/line-ci/comment_pr/pr/";
const urlapi2 = "https://hook.zubbsteel.com/line-ci/uploadPR/api.php";

//const urlpic = "https://hook.zubbsteel.com/line-ci/uploadPR/";
export default {
  title() {
    return `PR Review — ${this.pr}`
  },
  data() {
    return {
      isLog: false,
      pr: this.$route.params.PR_ID,
      user: "",
      pictureUrl: "",
      userId: "",
      comment: "",
      tUP:"",
      allComment: "",
      month: [
        "",
        "มกราคม",
        "กุมภาพันธ์",
        "มีนาคม",
        "เมษายน",
        "พฤษภาคม",
        "มิถุนายน",
        "กรกฎาคม",
        "สิงหาคม",
        "กันยายน",
        "ตุลาคม",
        "พฤศจิกายน",
        "ธันวาคม",
      ],
      file: "",
      item: {
        image: null,
        imageUrl: null,
      },
      com: "",
      Nfile:"",
      newname_file:"",
      loading:false
    };
  },

  props: {
    test: String,
    count: Number,
    show: Boolean,
  },
  components: {
    //PerfectScrollbar, //
    Timeline,
    VueInstantLoadingSpinner,
 
  },
  async created() {
   // console.log("PR is =>" + this.pr);
    await this.getComment();
    
    await liff.ready;
    if (!liff.isLoggedIn()) {
      this.isLog = false;
    } else {
      this.isLog = true;
      const profile = await liff.getProfile();
      this.user = profile.displayName;
      this.pictureUrl = profile.pictureUrl;
      this.userId = profile.userId;
      // this.loading = false;
    }
  
  },
  watch:{
    comment(af){
      if(af==" "){
        this.comment="";
      }
    },
    // Allcom(){
    //   this.getComment();
    // }
  },
  computed: {
    Allcom() {
      return this.allComment;
    },
  },
  methods: {
    lineLogin() {
      liff.login({ redirectUri: `https://pr-review.vercel.app/${this.pr}` });
    },
     onChangeFileUpload(e) {
     // this.typeUP="upImg";
    
      const file = e.target.files[0];
      //console.log(file);
      this.image = file;
      this.filename = file.name;
      this.item.imageUrl = URL.createObjectURL(file);
      console.log(this.$refs.fileja.files);
      this.file = this.$refs.fileja.files[0];
    console.log(this.file);
      let currentdate = new Date()
      var datetime = currentdate.getDate() + "-"
                + (currentdate.getMonth()+1)  + "-" 
                + currentdate.getFullYear();
     // สุ่มอักษรมาต่อท้าย เพื่อทำชื่อไฟล์ใหม่
      var result           = '';
      var characters       = '0123456789abcdefg';
      var charactersLength = characters.length;
      for ( var i = 0; i < 8; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }
      this.newname_file = datetime+"_"+result;

      this.Nfile="";
      this.tUP = "upImg";
    },
    onChangeFileUpload2() {
     // this.typeUP="upFile";
      this.file = this.$refs.file.files[0];
      this.Nfile = this.file.name;
      this.image = null
      this.item.imageUrl = null;
      this.tUP = "upFile";
     // console.log("TYPE:"+this.tUP );
      },
    async postPR() {
      try {
        let va_dl ;
        if (this.file != "") {
          let formData = new FormData();
          let type = this.file.name;
          type = type.split(".");
          let nametype = type.length-1;
          //console.log(this.tUP);
          if(this.tUP=='upImg'){
              va_dl = '0';
          }else{ 
              va_dl = '1';
          }

          if(this.file.size>=10000000){
            alert("ไฟล์ภาพมีขนาดใหญ่เกินไป โปรดเลือกไฟล์ที่มีขนาดไม่เกิน 10 MB")
          }
          else{
           // this.loading=true;
            this.$refs.Spinner.show();
            var element_1 = document.getElementById("bg_comment");
            var element_2 = document.getElementById("bg_post");
            element_1.classList.add("opacity-25");
            element_2.classList.add("opacity-25");
            let nf;
           
           // let new_name = 
            if(this.tUP=="upImg"){
              nf = this.newname_file;
              formData.append("file", this.file,this.newname_file+"."+type[nametype]);
            }else{
              formData.append("file", this.file);
              nf = type[0];
              console.log("NOT upImg")
            }
             await axios.post(urlapi + "add_pr", {
              data_pr: this.pr,
              data_user: this.user,
              data_com: null,
              data_userId: this.userId,
              data_pic: this.pictureUrl,
              data_name: nf,
              data_type: type[nametype],
              data_dl: va_dl
            });
            axios.post(urlapi2, formData, {
                headers: {
                  "Content-Type": "multipart/form-data",
                },
            });
          
            if(this.file.size>=7000000){
              setTimeout(() => this.getComment(),14000);
            }else if(this.file.size>=1500000) {
              setTimeout(() => this.getComment(), 6000)
            }else{
               console.log("size Small")
              setTimeout(() => this.getComment(), 1500)
            }          
            this.file = "";
            this.Nfile = "";
            this.tUP= "";                   
            this.item.imageUrl = null;
          }
            
        } else {
          if(this.file=="" && this.Nfile=="" && this.comment==""){
            alert("กรอกอะไรสักนิดก่อนส่งนะ :)");
          }else{
            await axios.post(urlapi + "add_pr", {
            data_pr: this.pr,
            data_user: this.user,
            data_com: this.comment,
            data_userId: this.userId,
            data_pic: this.pictureUrl,
            data_type: null,
          });
         
          }
          this.comment = "";
          this.tUP="";
          await this.getComment();
        }
     
       // setTimeout(() => this.getComment(), 500)
      
        
      } catch (error) {
        console.error();
      }
    },
    async getComment() {
      try {
        var date_th = "";
        var dday;
        var mon;
        var year;

        const getCom = await axios.get(urlapi + "getComment/" + this.pr);
        this.allComment = getCom.data;
        this.allComment.forEach(async (data) => {
          const newdate = {
            ndate: data.date_pr,
            ntime: data.time_pr,
            user: data.username,
            cid: data.com_id,
            comment: data.comment_pr,
          };
          dday = newdate.ndate.substr(0, 2);
          mon = newdate.ndate.substr(3, 2);
          if (mon.substring(0, 1) == 0) {
            mon = mon.replace("0", "");
          }
          year = parseInt(newdate.ndate.substr(-4)) + 543;
          newdate.ntime = newdate.ntime.substr(0,5);
          date_th =
            dday + " " + this.month[mon] + " " + year + " " + newdate.ntime;
          data.date_pr = date_th;
          if(newdate.comment==null){
              data.fileName = data.fileName+"."+data.typePic; 
          }else{
            data.fileName = null;
          }
         
        });
       // this.loading = false;
         this.$refs.Spinner.hide();
        var element_1 = document.getElementById("bg_comment");
        var element_2 = document.getElementById("bg_post");
        element_1.classList.remove("opacity-25");
        element_2.classList.remove("opacity-25");
        //console.log(this.allComment)
      } catch (error) {
        console.error;
      }
    },
    zoomImg(cid) {
            var modal = document.getElementById("myModal");

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById("myImg_"+cid);
            var modalImg = document.getElementById("img01");
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
              
            }
            
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() { 
              modal.style.display = "none";
            }
    },
   
    del_pic() {
      alert("ลบรูปแล้ว :)");
      console.log("Deleted")
      this.tUP= "";
      this.item.image = null;
      this.item.imageUrl = null;
    },
    del_file() {
      alert("ลบไฟล์แนบแล้ว :)");
      this.Nfile = "";
      this.tUP = "";
      this.item.imageUrl = null;
    },
    loadFile({fileName}){
      let url = "https://hook.zubbsteel.com/line-ci/uploadPR/";
      let url_dl = url+fileName;
     // let cut_filename = fileName.split(".");
       axios.get(url_dl, { responseType: 'blob' })
       .then(response => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          var fileLink = document.createElement('a');
        
          fileLink.href = fileURL;
          fileLink.setAttribute('download', fileName);
          document.body.appendChild(fileLink);
        
          fileLink.click();
       }).catch(console.error)
    },
    chk_comment(){
      if(this.comment==" "){
        this.comment = "";
       // console.log("XXXX");
      }
     // console.log("YYY");
    }
   
  },
};
</script>

<style>
.fixedtab {
  overflow-y: scroll;
  position: fixed;
  height: 90%;
}
.ps {
  height: 720px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.imgp {
  margin-left: 5px;
  margin-right: 5px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.loadingspin{
  margin-top: -25%;
}

</style>
