<template>
    <div>
        <div class="flex justify-center">
            <div class="w-1/3 border-2 border-gray-200 p-1 rounded-lg mt-2">
                <p class="mt-1 border-b font-bold text-gray-600">รายการเลือก</p>
                <button @click="editprofile_page"
                    class="mt-2 p-2 rounded-full border-2 border-green-100 bg-green-400 hover:bg-green-200">แก้ไข Profile ในระบบ</button><br>
                <button
                    @click="addprofile_page"
                    class="mt-2 p-2 rounded-full border-2 border-green-100 bg-green-400 hover:bg-green-200">เพิ่ม Profile ใหม่</button>
            </div>
        </div>
       
    </div>
</template>
<script>
//import axios from "axios";
export default {
    methods:{
        addprofile_page(){
            this.$router.push("/crep");
        },
        editprofile_page(){
            this.$router.push("/pro_all");
        }
    }
}
</script>
<style>

</style>