<template>
    <div>
        <div class="flex justify-center">
            <div class="flex justify-inline mt-2">
                <p class="mt-2">ป้อนเลข PR</p>
                <input type="text" v-model="PR_ID" class="ml-2 p-2 border-2 border-gray-300 rounded-md focus:outline-none shadow-md">
                <button @click="postPR" class="ml-2 font-semibold hover:text-green-400">ส่งเลข PR</button>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
const urlapi = "https://hook.zubbsteel.com/line-ci/comment_pr/pr/";
const urlapi2 = "https://hook.zubbsteel.com/line-ci/uploadPR/api.php";
export default {
    data() {
        return {
            PR_ID :"",
            item:{
          //...
                image : null,
                imageUrl: null
            },
            filename:"", //ใช้ com_id
            username:"Tset",
            PR_PIC:"10166526981",
            file:"",
            com:""
        }
    },
    created:{

    },
    methods:{
        postPR(){
            this.$router.push({ name: 'Home', params: { PR_ID: this.PR_ID } })
        },
        onChangeFileUpload(e){
            const file = e.target.files[0]
            this.image = file
            this.filename = file.name;
            this.item.imageUrl = URL.createObjectURL(file)


            this.file = this.$refs.file.files[0];
        },
        onChange(e) {
            const file = e.target.files[0]
            this.image = file
            this.filename = file.name;
            this.item.imageUrl = URL.createObjectURL(file)
        },
        del_pic(){
            alert("ลบรูปออกแล้ว");
            this.item.image=null
            this.item.imageUrl=null
        },
        async test_send(){
            if(this.file!=""){
                await axios.post(urlapi + "add_pr", {
                    data_pr: this.PR_PIC,
                    data_user: "Gnawk.",
                    data_com: null,
                    data_userId: "Ubdf8114d68ad88777d21adc1fb0149a5",
                    data_pic: "https://profile.line-scdn.net/0huZmmPz4NKnVQFDzUi-9VImxRJBgnOiw9KCdlQ3FBc011I2R2ZHtmEXYQdUZ6LT4iP3AwQ3JDJBUo",
                });
                await this.getCom();
             
                let formData = new FormData();
                let  type = this.file.name;
                type = type.split(".")
                type = "."+type[1];
                this.com = this.com+type;

                formData.append('file', this.file , this.com);
                
                axios.post(urlapi2,
                 formData,
                    {
                        headers: {
                           'Content-Type': 'multipart/form-data'
                        }
                    }
                )
            }else{
               await axios.post(urlapi + "add_pr", {
                    data_pr: this.pr,
                    data_user: this.user,
                    data_com: this.comment,
                    data_userId: this.userId,
                    data_pic: this.pictureUrl,
                });
            }
        },
        async getCom(){
          const comid = await axios.get(urlapi+"getLast_comid/"+this.PR_PIC);
          this.com = comid.data[0].com_id;
        }

    }
    
}
</script>
<style>

</style>