<template>
    <div class="w-6/6">
        <div>
            <p class="font-bold text-gray-600 mt-4">Profile ทั้งหมดในระบบ</p>
        </div>
        <div class="flex justify-center">
            <div class="w-3/6">
                <div class="border-t">
                    <div v-for="profile in this.Allprofile" :key="profile.id" >
                        <button @click="click_p(profile.profile_name)"
                        class="border-2 border-gray-100 p-1 mx-1 my-1 rounded-lg w-2/3 bg-gray-200 
                        hover:bg-green-300 hover:border-green-100">{{profile.profile_name}}</button>
                    </div>
                </div>

            </div>
        </div> 
        <button @click="back" 
         class="bg-red-500 rounded-full px-2 py-1 font-bold text-white my-1 border-2 hover:border-red-200">Back</button> 
        
    </div>
</template>
<script>
import axios from "axios";
const api = "https://hook.zubbsteel.com/line-ci/list_info/list/";
export default {
    data(){
        return{
            Allprofile:[]
        }
    },
    created(){
        this.allpage()
    },
    methods:{
        async allpage(){
            await axios .get(api+"get_profile").then(Response=>this.Allprofile = Response.data)
        },
        click_p(val){
            this.$router.push({ name: 'edit', params: { name: val } })
        },
          back(){
            this.$router.push('/')
        }
    }
}
</script>
<style>

</style>