<template>
  <div class="md:px-24 w-full mt-3">
    <div
      class="mt-2 text-xs text-gray-600 mb-6 w-full grid grid-flow-col grid-cols-3"
    >
      <div>{{ this.user_mid }}</div>
      <div>{{ this.user_sec }}</div>
      <div>{{ this.user_top }}</div>
    </div>
    
    <div class="flex justify-center mx-8 sm:mx-12 xl:mx-32 -mt-2">
      <div class="bg-gray-300 h-2 w-5/6 rounded-full relative">
        <span
          v-bind:class="this.statusIcon"
          class="absolute top-0 -ml-2 -mt-1 z-10 h-4 w-4 bg-green-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-10 -mt-2 -ml-3 text-green-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path fill-rule="evenodd" :d="this.iicon" clip-rule="evenodd" />
          </svg>
        </span>
        <span
          v-bind:class="this.statusTimeline"
          class="bg-green-500 h-2 absolute left-0 top-0 rounded-full ring-2 ring-green-100"
        ></span>

        <span
          v-if="this.numStep > 1"
          class="absolute top-0 -mt-1 z-10 h-6 w-6 text-green-400"
          style="left:0%"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 -mt-1 -ml-1 text-green-300"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path fill-rule="evenodd" :d="this.iicon" clip-rule="evenodd" />
          </svg>
        </span>
        <span
          v-if="this.numStep >= 2"
          class="absolute top-0 -ml-2 -mt-1 z-10 h-6 w-6 text-green-400"
          style="left: 50%"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 -mt-1 -ml-1 text-green-300"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path fill-rule="evenodd" :d="this.iicon" clip-rule="evenodd" />
          </svg>
        </span>
        <span
          v-if="this.numStep >= 3"
          class="absolute top-0 -ml-2 -mt-1 z-10 h-6 w-6 text-green-400"
          style="left: 100%"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 -mt-1 -ml-1 text-green-300"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path fill-rule="evenodd" :d="this.iicon" clip-rule="evenodd" />
          </svg>
        </span>
      </div>
    </div>

  <div class="mt-4 text-xs text-gray-600 mb-6 w-full grid grid-flow-col grid-cols-3">
    <div>MID</div>
    <div>SEC</div>
    <div>TOP</div>
  </div>
  <div class="-mt-5 text-xs text-gray-600 mb-6 w-full grid grid-flow-col grid-cols-3">
    <div v-if="this.numStep>=1">{{this.DAY_M}}</div>
    <div v-if="this.numStep>=2">{{this.DAY_S}}</div>
    <div v-if="this.numStep>=3">{{this.DAY_T}}</div>
  </div>
  <input type="text" v-model="PR" hidden >
</div>
</template>

<script>
import axios from 'axios';
const api = "https://hook.zubbsteel.com/line-ci/pr/timeline/";
export default {
  props:["PR"],
  data() {
    //<<<<<<< HEAD
    return {
      iicon:"M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z",
      user:"",
      user_mid:"",
      user_sec:"",
      user_top:"",
      time:"",
      time_mid:"",
      time_sec:"",
      time_top:"",
      status:"", // รับค่าสถานะของ PR
      statusIcon: "", // ตำแหน่งไอคอน
      statusTimeline: "", // สีหลอดไทม์ไลน์
      numStep:0, // ขั้นตอน
      DAY_M:"",
      DAY_S:"",
      DAY_T:"",
      TIME_M:"",
      TIME_S:"",
      TIME_T:"",
    };
  },
  components:{
  },
  created(){
    console.log(this.PR);
    this.getData()
    
//=======
    return {};
    //>>>>>>> b7cac79fe642adf907881e14d8a9a7e9ef0cac4c
  },
  mounted() {},
  methods: {
    get_class() {
      let step;
      let load;
      let nStep;
      
      if (this.status == "Midapp") {
        step = "Step1";
        load = "Load1";
        nStep = 1;
      } else if (this.status == "Secapp") {
        step = "Step2";
        load = "Load2";
        nStep = 2;
      } else if (this.status == "Topapp") {
        step = "Step3";
        load = "Load3";
        nStep = 3;
      }

      this.statusIcon = step;
      this.statusTimeline = load;
      this.numStep = nStep;
     // return step;
    },
    async getData(){
      try {
        const data = await axios.get(api+this.PR);
         this.time_mid = data.data[0].MIDDATE
         this.time_sec = data.data[0].SECDATE
         this.time_top = data.data[0].TOPDATE
         this.user_mid = data.data[0].MID
         this.user_sec = data.data[0].SEC
         this.user_top = data.data[0].TOP
      
        let m;
        if(this.time_mid!=" "){
          this.DAY_M = this.time_mid.substr(8,2)
          m = this.time_mid.substr(5,2);
          this.TIME_M = this.time_mid.substr(11,5)
          this.DAY_M = this.DAY_M+"/"+m+" "+this.TIME_M
        }
        if(this.time_sec!=" "){
          this.DAY_S = this.time_sec.substr(8,2)
          m = this.time_sec.substr(5,2);
          this.TIME_S = this.time_sec.substr(11,5)
          this.DAY_S = this.DAY_S+"/"+m+" "+this.TIME_S
        }
        if(this.time_top!=" "){
          this.DAY_T = this.time_top.substr(8,2)
          m = this.time_top.substr(5,2);
          this.TIME_T = this.time_top.substr(11,5)
          this.DAY_T = this.DAY_T+"/"+m+" "+this.TIME_T
        }
           
        if(this.time_mid!=" " && this.time_sec!=" " && this.time_top!=" "){
          this.status="Topapp"
        }else if(this.time_mid!=" " && this.time_sec!=" "){
          this.status="Secapp"
        }else if(this.time_mid!=" "){
          this.status="Midapp"
        }
       this.get_class()
      } catch (error) {
        console.error()
      }
     
    },
    
  }
  
};
</script>

<style>
.Step1 {
  left: 0%;
}
.Step2 {
  left: 50%;
}
.Step3 {
  left: 100%;
}
.Load1 {
  width: 0%;
}
.Load2 {
  width: 50%;
}
.Load3 {
  width: 100%;
}

</style>
