<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
import liff from "@line/liff";
export default {
  async created() {
    try {
      await liff.init({
        liffId: "1654317961-eOpP7dXV",
      });
    } catch (error) {
      console.log(error.message);
    }
  },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
